<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>Zaitoon Online</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">

    <!-- Documentation extras -->
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/css/art.css" rel="stylesheet">
    <link href="assets/css/radio.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	  <script src="assets/js/html5shiv.js"></script>
	  <script src="assets/js/respond.min.js"></script>
	<![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/icons/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="assets/icons/favicon.png">

    <script type="text/javascript" charset="utf-8" src="assets/js/angular.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="assets/js/angular-route.js"></script>
    <script src="controllers/checkout.js"></script>

    <script type="text/javascript">

        function renderCart(){

        var row = "";

        if (JSON.parse(localStorage.getItem("itemsInfo")).length != 0) // If the cart is not empty.
        {

        var info = JSON.parse(localStorage.getItem("itemsInfo"));
        var sub_total = 0;
        var i = 0;

        while(i<info.length)   {

            //Jugaad to hide border in the first row.
            var noBorder = "";
            if(i == 0){noBorder = 'style="border-top:none; padding-top: 20px;"'}

             row = row +'<tr><td class="crossIcon" '+noBorder+'> </td> <td class="cartDescription" '+noBorder+'> <p style="font-size: 14px; color: #2980b9">'+info[i].itemName+'</p>';
             if(info[i].isCustom)
             {
                row = row + '<p style="font-size: 9px; color: grey; margin-top: -10px;">Choice: '+info[i].variant+'</p>';
             }
             row = row + '</td> <td class="cart_quantity" '+noBorder+'> <div class="cartButtons"> <span id="item_count_12"> x'+info[i].qty+' </span></div> </td> <td class="cart_price" '+noBorder+'> <p><i class="fa fa-inr"></i> <span id="item_price_12">'+info[i].itemPrice+'</span></p> </td> </tr>';

             sub_total += (info[i].qty*info[i].itemPrice);
             i++;
        }

        document.getElementById("cartArea").innerHTML  = '<div style="max-height:300px; overflow-y:auto;" id="ScrollStyle"><table class="table table-condensed" style="margin-bottom: 0px; margin-top: -16px;"> <tbody></tbody> <colgroup> <col width="2%"> <col width="55%"> <col width="25%"> <col width="18%"> </colgroup> <tbody> '+row+' </tbody> </table></div><table class="table table-condensed" style="margin-bottom: -20px;"> <tbody> <tr> <td><grey>Cart Sub Total</grey></td> <td><grey><i class="fa fa-inr"></i> '+sub_total+'</grey></td> </tr> <tr class="shipping-cost"> <td><grey>Container Charges (7%)</grey></td> <td><grey><i class="fa fa-inr"></i>'+(Math.round(sub_total*.07))+'</grey></td> </tr> <tr> <td><red>Grand Total</red></td> <td><strong><red><span><i class="fa fa-inr"></i> '+(sub_total+(Math.round(sub_total*.07)))+'</span></red></strong></td> </tr> </tbody> </table><br>';
        document.getElementById("fullCartArea").innerHTML = "";
    }
    else{
        document.getElementById("cartArea").innerHTML = '<center> <img src="assets/images/elements/emptycart.png" width="50%"> <p style="color: #bdc3c7">Your Cart is Empty.</p> </center>';
        document.getElementById("fullCartArea").innerHTML  = '<p style="color: #bdc3c7; padding-top: 5px; font-size: 11px;">Add items to the cart to place a fresh order. You can quickly <a class="label label-default greyLabel" href="account.html" style="font-size: 10px;">Repeat an Order</a> you made with Zaitoon before.</p>';
    }
    }

        </script>

    <link href="dist/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body onload="renderCart()" ng-app="CheckOut">
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->

    <header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header" >
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a href="index.html" class="navbar-brand"><img src="assets/images/common/logo_small.png"></a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="index.html">Order Now</a>
                    </li>
                    <li>
                        <a href="account.html">My Account</a>
                    </li>
                    <li>
                        <a href="logout.html">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
        <div class="container">
            <img src="assets/images/elements/designer_logo.png">
        </div>
    </div>



    <div class="container bs-docs-container" ng-controller="CheckoutController">
        <div class="row">
            <div class="col-md-7" role="main">
                <div class="bs-docs-section">

                    <h2 class="zaitoonMenuHead">Checkout</h2>
                    <hr style="border-top: 1px dashed #e74c3c; margin-top: 5px;">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <colgroup>
                                <col width="2%">
                                <col width="98%">
                            </colgroup>
                            <thead class="checkOutHeads">
                                <tr>
                                    <th style="border-bottom: none">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </th>
                                    <th style="border-bottom: none">Delivery Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background: white;">
                                    <td></td>
                                    <td><b class="CheckOutSubHead">Delivery Address</b>
                                      <div class="row">
                                        <div class="col-sm-12">
                                          <div class="form-group" style="margin-bottom: 5px;">
                                            <input type="text" class="form-control checkOutFields checkOutIn" id="" placeholder="Recepient Name" ng-model="name">
                                          </div>
                                        </div>
                                        <div class="col-sm-12">
                                          <div class="form-group">
                                            <input type="text" class="form-control checkOutFields checkOutIn" id="" placeholder="Mobile Number" ng-model="contact">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-4">
                                          <div class="form-group" style="margin-bottom: 5px;">
                                            <input type="text" class="form-control checkOutFields checkOutIn" id="" placeholder="Flat/House No." ng-model="flatNo">
                                          </div>
                                        </div>
                                        <div class="col-sm-8">
                                          <div class="form-group" style="margin-bottom: 5px;">
                                            <input type="text" class="form-control checkOutFields checkOutIn" id="" placeholder="Flat/House Name" ng-model="flatName">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-sm-6">
                                          <div class="form-group" style="margin-bottom: 5px;">
                                            <input type="text" class="form-control checkOutFields checkOutIn" id="" placeholder="Landmark" ng-model="landmark">
                                          </div>
                                        </div>
                                        <div class="col-sm-6">
                                          <div class="form-group">
                                            <input type="text" class="form-control checkOutFields checkOutIn" id="" placeholder="Locality" ng-model="area">
                                          </div>
                                        </div>
                                      </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><b class="CheckOutSubHead">Any notes to the Chef?</b>
                                    <div class="form-group">
                                        <textarea rows="3" id="chefNotes" maxlength="150" class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-maxlength checkOutText" placeholder="More sugar, less spice? Your preferences go here." ng-model="vm.orderComments" ng-change="vm.commentsChanged()" ng-model-options="{ debounce: 300 }"></textarea>
                                        <p id="alertNotes" style="color: #bdc3c7; margin-top: 3px;"></p>
                                    </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <colgroup>
                                <col width="2%">
                                <col width="98%">
                            </colgroup>
                            <thead class="checkOutHeads">
                                <tr>
                                    <th style="border-bottom: none">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </th>
                                    <th style="border-bottom: none">Payment Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                            <div class="btn-group btn-group-vertical" data-toggle="buttons">
                                              <label class="btn active" ng-click="setMode('PRE')">
                                                <input type="radio" name='gender1' checked><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span>  Online Payment</span>
                                              </label>
                                              <label class="btn" ng-click="setMode('COD')">
                                                <input type="radio" name='gender1'><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i><span> Cash on Delivery</span>
                                              </label>
                                            </div>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

            </div>



            <div class="col-md-3">
                <div class="bs-sidebar" role="complementary">
                    <ul class="nav bs-sidenav myCartMain">
                    <h3 style="padding-left: 20px;">Your Cart</h3>
                    <hr style="margin-bottom: 0px">
                        <div id="cartArea" class="mycartArea">
                        </div>  <!-- Closing cart area -->
                    </ul>
                    <div id="fullCartArea">
                    </div>

                    <b class="CheckOutSubHead"><br>Apply Coupon Code</b>
                    <div class="input-group" style="margin-top: 10px">
                        <input type="text" class="form-control couponIn" placeholder="Coupon Code" ng-model="coupon" aria-describedby="basic-addon2">
                        <span class="input-group-addon" ng-click="applyCoupon()" id="basic-addon2">Apply</span>
                    </div>
                    <p ng-if="isCouponApplied" style="padding-top: 5px;">
                      <tag ng-if="!isCouponFailed" style="color: #27AE60">Applied successfully! You get Rs. {{couponDiscount}} discount!</tag>
                      <tag ng-if="isCouponFailed" style="color: #FF5733">Failed. {{couponError}}</tag>
                    </p>

                    <button type="button" class="btn btn-success check_out" style="width: 100%; margin-top: 20px; border-radius: 0px; font-size: 16px;" ng-click="checkout()">Place Order</button>


                </div>

            </div>
        </div>

    </div>


    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.js"></script>

    <script src="assets/js/holder.js"></script>

    <script src="assets/js/application.js"></script>

    <script type="text/javascript">
        document.getElementById('chefNotes').onkeyup = function(){
            document.getElementById('alertNotes').innerHTML =   (150-(this.value.length))+ ' characters left.';
        }
    </script>


</body>

</html>
