/*For Index Page*/

.zaitoonAdd { 
	border: none; 
	border-radius: 0px; 
	background: #7f8c8d;
	color: white;
}

.zaitoonAdd:hover
{
	background-color:#c0392b !important;
	color: white;
}

.zaitoonAdd:active
{
	outline: #00FF00 dotted thick;
	background-color:#c0392b !important;
	color: white;
}

.zaitoonAdd:focus
{
	border: none;
	outline: none;
	box-shadow: none;
	color: white;
}


/*Titles in Menu Page*/

.zaitoonMenuHead{
	color: #e74c3c;
}

.zaitoonSubMenuHead{
	font-size: 18px;
	color: #2c3e50;
}

.zaitoonMenuTable > thead > tr > th{
    border:none;
}


/*Cart in Menu Page*/
.crossIcon .fa{
	color: #bdc3c7;
}

.crossIcon .fa:hover{
	color: #c0392b;
}

.cartButtons .zaitoonCartMenuMinus{
	color: #7E7E7E;
}

.cartButtons .zaitoonCartMenuMinus:hover{
	color: #e74c3c;
}

.cartButtons .zaitoonCartMenuPlus{
	color: #7E7E7E;
}

.cartButtons .zaitoonCartMenuPlus:hover{
	color: #16a085;
}

.mycartArea{
	padding: 5px;
}

.myCartMain{
	background: #FAFAF2;
	text-shadow: none;
}

.quickMenuHead{
	padding-left: 20px; 
	color: #2c3e50;
}

.greyLabel{
	background: #ecf0f1;
	color: #7f8c8d;
}

.greyLabel:hover{
	color: yellow;
}