/*For Index Page*/

.zaitoonNoStock{
	border: 1px solid #95a5a6;
	border-radius: 5px;
	background: none;
	color: #95a5a6;
}

.zaitoonAdd {
	border: 1px solid #27ae60;
	border-radius: 5px;
	background: none;
	color: #27ae60;
}

.zaitoonAdd:hover
{
	background-color: #27ae60 !important;
	color: white !important;
}

.zaitoonAdd:active
{
	outline:none !important;
	background-color:#27ae60 !important;
	color: white;
}

.zaitoonAdd:focus
{
	outline:none !important;
	box-shadow: none;
	color: #2ecc71 !important;
}


/*Titles in Menu Page*/

.zaitoonMenuHead{
	color: #e74c3c;
}

.zaitoonSubMenuHead{
	font-size: 18px;
	color: #2c3e50;
}

.zaitoonMenuTable > thead > tr > th{
    border:none;
}


/*Cart in Menu Page*/
.crossIcon .fa{
	color: #bdc3c7;
}

.crossIcon .fa:hover{
	color: #c0392b;
}

.cartButtons .zaitoonCartMenuMinus{
	color: #7E7E7E;
}

.cartButtons .zaitoonCartMenuMinus:hover{
	color: #e74c3c;
}

.cartButtons .zaitoonCartMenuPlus{
	color: #7E7E7E;
}

.cartButtons .zaitoonCartMenuPlus:hover{
	color: #16a085;
}

.mycartArea{
	padding: 5px;
}

.myCartMain{
	background: #FAFAF2;
	text-shadow: none;
}

.quickMenuHead{
	padding-left: 20px;
	color: #2c3e50;
}

.greyLabel{
	background: #ecf0f1;
	color: #7f8c8d;
}

.greyLabel:hover{
	color: yellow;
}


/*Scroll in Cart in Menu page*/
#ScrollStyle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#ScrollStyle::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#ScrollStyle::-webkit-scrollbar-thumb
{
	background-color: rgba(37,36,36, 0.5);
}




/*Search in Menu page*/

.tt-dropdown-menu,
.gist {
  text-align: left;
}

.ng-invalid {
  border-color: red !important; /* just for visual */
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  font-size: 14px;
  outline: none;
}

.typeahead {
	width: 100%
  background-color: #fff;
  border:none;
  border-radius: 0px;
  border-bottom: 1px solid #95a5a6;
}

.typeahead:focus {
  border-radius: 0px;
  border-bottom: 2px solid #27ae60;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  max-height:150px;
  overflow-y:auto;
  border:1px solid #27AE60;
  color: #27AE60;

}

.tt-menu::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tt-menu::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.tt-menu::-webkit-scrollbar-thumb
{
	background-color: rgba(37,36,36, 0.5);
}


.tt-suggestion {
	width: 100%;
  padding: 3px 20px;
  font-size: 14px;
  border-bottom: 1px solid #F3F3F3;
  line-height: 18px;
	font-weight: 200;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #27AE60;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.tt-error {
	border: none;
	text-align: center;
}


/*Checkout page*/
.checkOutHeads{
	background: #e74c3c;
	border-bottom: 2px solid #c0392b;
	color: white;
}

.checkOutFields{
	width: 80%;
}

.checkOutIn{
	border-radius: 0px;
	border: none;
	outline: none;
	border-bottom: 1px dashed #923434;
	padding: 0px;
	box-shadow: none;
}

.checkOutIn:focus
{
	border: none;
	outline: none;
	box-shadow: none;
	color: #2c3e50;
	border-bottom: 2px solid #16a085;
}

.CheckOutSubHead{
	color: #e74c3c;
}

.checkOutText{
	margin-top: 10px;
 background: url('../images/common/notes.png') repeat-y;
 width: 600px;
 height: 300px;
 font: normal 14px verdana;
 line-height: 25px;
 padding: 2px 10px;
 border: none;
 border-radius: 0px;
 box-shadow: none;
 resize: none;
 width: 90%
}

.checkOutText:focus
{
	border: none;
	outline: none;
	box-shadow: none;
	color: #2c3e50;
}

.couponIn{
}

.couponIn:focus
{
	color: #2980b9;
	outline: none;
	box-shadow: none;
}


/*For Account page*/
.profileTitle{
	font-size: 24px;
	color:#16a085;
}

.profileSub{
	font-size: 12px;
	color:#616161;
}

.zaitoonSave, .zaitoonSave:hover {
	border: none;
	border-radius: 0px;
	background: #16a085;
	color: white;
}

.zaitoonSave:hover {
	background: #1abc9c;
}

.zaitoonCancel, .zaitoonCancel:hover {
	border: none;
	border-radius: 0px;
	background: #7f8c8d;
	color: white;
}

.zaitoonCancel:hover {
	background: #95a5a6;
}
.zaitoonModal{
	border-radius: 0px;
	box-shadow: none;
}

.zaitoonModalIn {
	border-radius: 0px;
	border: none;
	outline: none;
	border-bottom: 1px dashed #923434;
	padding: 0px;
	box-shadow: none;
}

.zaitoonModalIn:focus
{
	border: none;
	outline: none;
	box-shadow: none;
	color: #2c3e50;
	border-bottom: 2px solid #16a085;
}


#zaitoonModalPlace::-webkit-input-placeholder{
	color: #16a085;
	font-weight: normal;
}

.functionButton:hover{
	background: #e67e22;
}

#zaitoonProfileNameEdit, #zaitoonProfileNameEdit::-webkit-input-placeholder{
	color: #16a085;
	font-weight: bold;
	font-size: 24px;
	background: none
}

#zaitoonProfileAddressEdit, #zaitoonProfileAddressEdit::-webkit-input-placeholder{
	color: #333;
	font-weight: bold;
	font-size: 14px;
	background: none
}

/*Order Details page*/
.orderTimeStamps{
	background: #e74c3c;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	color: white;
	margin: 1px;
	width: 80%;
	text-align: left;
}

.orderTimeStamps:hover{
	background: #e74c3c;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	color: white;
}


/*For Modal*/

ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 16px;
    padding: 0;
    margin-bottom: 4em;
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

.rectangle-list a{
    position: relative;
    display: block;
    padding: 10px;
    margin: .5em 0 .5em 2.5em;
    background: #ecf0f1;
    color: #2c3e50;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle-list a:hover{
    background: #bdc3c7;
}

.rectangle-list a:before{
    content: counter(li);
		color: #FFF;
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #27ae60;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: 300;
}

.rectangle-list a:after{
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list a:hover:after{
    left: -.5em;
    border-left-color: #27ae60;
}

/*Search Bar in Menu*/
.menuSearch{
	font-weight: 200;
	font-size: 18px;
	border-radius: 0px;
	border: none;
	outline: none;
	border-bottom: 1px solid #CCCCCC;
	padding: 0px;
	box-shadow: none;
}

.menuSearch:focus
{
	border: none;
	outline: none;
	box-shadow: none;
	color: #16a085;
	border-bottom: 2px solid #16a085;
}

.cityDropdown{
	border: none;
}

.cityDropdown:focus{
	outline: none;
	box-shadow: none;
}


/*Label*/
.labelLocation{
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
	color: #34495e;
}
